/* ====================== Restaurant Listing ====================== */

#restaurants-list li {
  width: 30%;
}

#restaurants-list li:not(:first-child) {
  margin-top: 0;
}

/* style all restaurants except the first two */
#restaurants-list li:not(:nth-child(-n + 3)) {
  margin-top: 15px;
}
